div[id^="hvm_controller"] {
    position: fixed;
    z-index: 65535;
    color: white;
    background: black;
    opacity: 0.6;
    padding: 5px;
    border-radius: 3px;
}

div[id^="hvm_controller"]>div {
    font-size: 15px;
}